* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  background-color: #162029;
  color: #fff;
  margin: 1em;
}

.app-header {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #f15529;
}
